#CREATE DATABASE

In [3]:
import sqlite3
import pandas as pd

In [4]:
# Create or connect to database
conn = sqlite3.connect('crud_project.db')
cursor = conn.cursor()

# CREATE (ADDING DATA)

In [9]:
# Create new table "users"
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    age INTEGER
)
''')

# Save changes
conn.commit()

# Show message
print("Table 'users' was created successfully.")

Table 'users' was created successfully.

In [29]:
# Data add function
def create_user(name, email, age):
    try:
        cursor.execute('''
        INSERT INTO users (name, email, age)
        VALUES (?, ?, ?)
        ''', (name, email, age))
        conn.commit()
        print("Data successfully added.")
    except sqlite3.IntegrityError as e:
        print(f"Error: {e}")

# Usage example
create_user('John Doe', 'john@example.com', 30)
create_user('Jane Doe', 'jane@example.com', 25)

Data successfully added.
Data successfully added.

# READ (READING DATA)

In [30]:
# Data reading function
def read_users():
    df = pd.read_sql_query('SELECT * FROM users', conn)
    print(df)

In [31]:
# Usage example
read_users()

   id      name             email  age
0   5  John Doe  john@example.com   30
1   6  Jane Doe  jane@example.com   25

#UPDATE (UPDATING DATA)

In [34]:
# Data pdate function
def update_user(user_id, name=None, email=None, age=None):
    query = "UPDATE users SET "
    params = []
    if name:
        query += "name = ?, "
        params.append(name)
    if email:
        query += "email = ?, "
        params.append(email)
    if age:
        query += "age = ?, "
        params.append(age)

    query = query.rstrip(', ')  # Deleting the last comma
    query += " WHERE id = ?"
    params.append(user_id)

    cursor.execute(query, tuple(params))
    conn.commit()
    print("Data was successfully added")

In [33]:
# Usage example
update_user(1, name="John Smith")
read_users()

Data berhasil diperbarui.
   id      name             email  age
0   5  John Doe  john@example.com   30
1   6  Jane Doe  jane@example.com   25

# DELETE (CLEAR DATA)

In [35]:
# Delete data function
def delete_user(user_id):
    cursor.execute('DELETE FROM users WHERE id = ?', (user_id,))
    conn.commit()
    print(f"Data with ID {user_id} was successfully deleted.")

In [36]:
# Usage example
delete_user(5)
read_users()

Data with ID 5 was successfully deleted.
   id      name             email  age
0   6  Jane Doe  jane@example.com   25